/*
 #F0ECE5 
  #31304D 
  #176B87 
  #5B9A8B
 #1b1b25 
  #B6BBC4 
  */

  /*
   #0c0c0c
  
  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #101720;
  color: #B6BBC4 ;
  padding: 10%;
}

.container {
  display: flex;
  width: 100%;
}

.container-left {
  flex-basis: 50%;
}

.container-right {
  width: 50%;
  padding-right: 5%;
}

.info {
  height: 100vw;
  width: 50%;
  position: fixed;
  /* padding: 10% 10% 10% 15%; */
  padding-right: 20%;
}

h1 {
  font-size: 300%;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #fff;
}

h3 {
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  font-size: 100%;
  font-weight: 300;
  /* margin-bottom: 30px; */
  line-height: 1.7;
}

/* ul {
  display: inline;
} */

li, a {
  display: inline;
  list-style: none;
  text-decoration: none;
  color: #B6BBC4;
}

nav {
  margin-top: 50px;
}

.nav-item {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.nav-item:hover .links {
  width: 60px;
  height: .8px;
  background-color: #fff;
  transition: .2s;
}

.links-text {
  text-transform: uppercase;
  font-size: 80%;
  margin-left: 50px;
}

.nav-item:hover .links-text a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  scale: 1.2;
  transition: .3s;
}

.links {
  position: absolute;
  top: 50%;
  display: inline-block;
  height: .5px;
  width: 30px;
  background-color: #B6BBC4;
}

.social{
  font-size: 200%;
  margin-top: 52px;
}

.social-links {
  margin-right: 5%;
}

.social-links:hover {
 color: #fff;
}

.hide {
  display: none;
  /* opacity: 0; */
  background-color: #fff;
}

.project {
  width: 100%;
  margin-bottom: 50px;
}

.project-box {
  display: flex;
  opacity: .6;
  width: 100%;
  padding: 4%;
}

.project-box:hover {
  background-color: rgba(147, 132, 167, 0.1);
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: .5s;
}

.project-img {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: 30%;
  width: 100%;
}

figure {
  width: 100%;
}

.image {
  width: 100%;
  /* height: 70px; */
  display: block;
  border-radius: 6px;
  border: 2px solid #B6BBC4;
}

.project-info {
  flex-basis: 70%;
  margin-top: -2.5px;
}

.project-title {
  font-size: 100%;
  font-weight: 500;
  /* color: #5B9A8B; */
  color: #0ec9ad ;
  margin-bottom: 0;
}

.project-desc {
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
}

.project-info {
  font-size: 95%;
  margin-top: 0;
}

.title-icon {
  font-size: 70%;
  margin-left: 5px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tools-item {
  display: flex;
  margin: 0 3px;
  color: rgb(14, 201, 173) ;
  background-color: rgb(14, 201, 173, .1) ;
  border-radius: 50px;
  padding: 5px 10px;
}

.footer {
  font-weight: 100;
  font-size: 80%;
  margin-top: 50px;
  opacity: .5;
}

.copyright {
  font-size: 100%;
  font-weight: 500;
}


 /* MEDIA QUERY MANAGER

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop */

@media (max-width: 350px) {}

@media (max-width: 600px) {
 

}

@media (max-width: 1024px) {
   .project-box {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

   .container {
    display: flex;
    flex-direction: column;
  }

  .container-right {
  width: 100%;
  padding-right: 0;
}

.container-left{
  flex-basis: 1;
  /* height: auto;
  min-height: 100%; */
}

  .info {
  height: fit-content;
  padding: 0;
  width: 100%;
  position: static;
}

.social {
  margin-bottom: 50px;
}

  nav {
  display: none;
}

body {
  padding: 3%;
}

footer {
  text-align: center;
}
}
@media (max-width: 1200px) {
  .project-box {
    opacity: 1;
  }
}
/* @media (min-width: 1800px) {} */



