/*
  #F0ECE5 
  #31304D 
  #176B87 
  #5B9A8B
  #1b1b25 
  #B6BBC4 
  */

  /*
   #0c0c0c
   #101720;
  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101720;
  font-family: 'Montserrat', sans-serif;
  color: #B6BBC4 ;
  padding: 5% 10%;
}

/* container styling */
.container {
  display: flex;
  width: 100%;
}

.container-left {
  height: 100vh;
  flex-basis: 50%;
}

.container-right {
  width: 50%;
  padding-right: 5%;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82%;
  /* height: 600px; */
  width: 50%;
  position: fixed;
  padding-right: 20%;
}

.info-text {
  min-height: fit-content;
}

.info-links {
  height: auto;
}

/* Element styles */
h1 {
  font-size: 300%;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #fff;
}

h3 {
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.7;
}

li, a {
  display: inline;
  list-style: none;
  text-decoration: none;
  color: #B6BBC4;
}

/* Nav */
nav {
  margin-top: 50px;
}

.nav-item {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.nav-item:hover .links {
  width: 60px;
  height: .8px;
  background-color: #fff;
  transition: .2s;
}

.nav-item:hover .links-text a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  scale: 1.2;
  transition: .3s;
}

/* Nav Links */
.links-text {
  text-transform: uppercase;
  font-size: 80%;
  margin-left: 50px;
}

.links {
  position: absolute;
  top: 50%;
  display: inline-block;
  height: .5px;
  width: 30px;
  background-color: #B6BBC4;
}

/* Social */
.social{
  font-size: 200%;
  margin-top: 52px;
}

.social-links {
  margin-right: 5%;
}

.social-links:hover {
 color: #fff;
}

/* Education */
.education {
  height: 600px;
  /* background-color: orangered; */
}

/* Projects */
.project {
  width: 100%;
  margin-bottom: 50px;
}

.project-box {
  display: flex;
  opacity: .6;
  width: 100%;
  padding: 4%;
}

.project-box:hover {
  background-color: rgba(147, 132, 167, 0.1);
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: .5s;
}

.project-img {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: 30%;
  width: 100%;
}

figure {
  width: 100%;
}

.image {
  width: 100%;
  display: block;
  border-radius: 6px;
  border: 2px solid #B6BBC4;
}

.project-info {
  flex-basis: 70%;
  margin-top: -2.5px;
}

.project-title {
  font-size: 100%;
  font-weight: 500;
  color: #0ec9ad ;
  margin-bottom: 0;
}

.project-info {
  font-size: 95%;
  margin-top: 0;
}

.title-icon {
  font-size: 70%;
  margin-left: 5px;
}

/* Project Technologies */
.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tools-item {
  display: flex;
  margin: 0 3px;
  color: rgb(14, 201, 173) ;
  background-color: rgb(14, 201, 173, .1) ;
  border-radius: 50px;
  padding: 5px 10px;
}

/* Contact */
.contact {
  height: 600px;
  /* background: red; */
}

/* Footer */
.footer {
  font-weight: 100;
  font-size: 80%;
  margin-top: 50px;
  opacity: .5;
}

.copyright {
  font-size: 100%;
  font-weight: 500;
}

/* UTILITY CLASSES */
.secondary-header {
  display: none;
  text-transform: uppercase;
}

.text-highlight {
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
}

.active {
  .links-text a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  scale: 1.2;
  transition: .3s;
}
  .links {
    width: 60px;
  height: .8px;
  background-color: #fff;
  transition: .2s;
  }
}

/* Section Margin */
#about,
#education,
#projects,
#contact {
  margin-bottom: 150px;
}

 /* MEDIA QUERY MANAGER */

@media (max-width: 1024px) {
   .project-box {
    display: flex;
    flex-direction: column-reverse;
    opacity: 1;
  }

   .container {
    display: flex;
    flex-direction: column;
  }

  .container-right {
  width: 100%;
  padding-right: 0;
}

  .info {
  height: fit-content;
  padding: 0;
  width: 100%;
  position: static;
  margin-bottom: 120px;
}

.secondary-header {
  display: block;
}

.social {
  margin-bottom: 50px;
}

  nav {
  display: none;
}

body {
  padding: 10% 3%;
}

footer {
  text-align: center;
}
}
@media (max-width: 1200px) {
  .project-box {
    opacity: 1;
  }

  .footer-icons {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .footer-icons {
    display: block;
  }
}

