/*
  #F0ECE5 
  #31304D 
  #176B87 
  #5B9A8B
  #1b1b25 
  #B6BBC4 
  */

/*
   #0c0c0c
   #101720;
  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle closest-side at var(--x) var(--y),
    #31304d,
    #101720
  );
  font-family: "Montserrat", sans-serif;
  color: #b6bbc4;
  width: 100vw;
  padding: 5% 20%;
  margin: 0;
  transition: background 0.1s;
}

/* container styling */
.container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.container-left {
  position: relative;
  height: auto;
  width: 50%;
}

.container-right {
  width: 50%;
}

.container-right > section:not(:last-child) {
  margin-bottom: 100px;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 30%;
  padding: 5% 0;
  position: fixed;
  top: 0;
}

.info-statement {
  width: 60%;
}

.info-links {
  height: auto;
  width: 50%;
}

/* Element styles */
h1 {
  font-size: 300%;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #fff;
}

h3 {
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 20px;
  word-spacing: 2px;
}

li,
a {
  display: inline;
  list-style: none;
  text-decoration: none;
  color: #b6bbc4;
}

/* Nav */
nav {
  position: relative;
  margin-top: 50px;
  width: 50%;
}

.nav-item {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.nav-item:hover .links {
  width: 60px;
  height: 0.8px;
  background-color: #fff;
  transition: 0.2s;
}

.nav-item:hover .links-text a {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  scale: 1.2;
  transition: 0.3s;
}

/* Nav Links */
.links-text {
  text-transform: uppercase;
  font-size: 80%;
  margin-left: 50px;
}

.links {
  position: absolute;
  top: 50%;
  display: inline-block;
  height: 0.5px;
  width: 30px;
  background-color: #b6bbc4;
}

/* Social */
.social {
  font-size: 200%;
  display: block;
}

.social-links {
  margin-right: 5%;
}

.social-links:hover {
  color: #fff;
}

/* Education */
.education {
  height: 600px;
}

/* Projects */
.project {
  width: 100%;
  margin-bottom: 50px;
}

.project-box {
  display: flex;
  opacity: 0.6;
  width: 100%;
  padding: 4%;
}

.project-box:hover {
  background-color: rgba(147, 132, 167, 0.1);
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}

.project-img {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: 30%;
  width: 100%;
}

figure {
  width: 100%;
}

.image {
  width: 100%;
  display: block;
  border-radius: 6px;
  border: 2px solid #b6bbc4;
}

.project-info {
  flex-basis: 70%;
  margin-top: -2.5px;
}

.project-title {
  font-size: 100%;
  font-weight: 500;
  color: #0ec9ad;
  margin-bottom: 0;
}

.project-info {
  font-size: 95%;
  margin-top: 0;
}

.title-icon {
  font-size: 70%;
  margin-left: 5px;
}

/* Project Technologies */
.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tools-item {
  display: flex;
  margin: 0 3px;
  color: rgb(14, 201, 173);
  background-color: rgb(14, 201, 173, 0.1);
  border-radius: 50px;
  padding: 5px 10px;
}

/* Contact */
.contact {
  height: fit-content;
}

/* Contact Form */
.form {
  margin-top: 50px;
  padding: 5%;
  border-radius: 6px;
  box-shadow: 0 10px 20px #0c0c0c1a;
  border: 2px solid #b6bbc4;
}

.form-group {
  margin-bottom: 10px;
}

.text-input {
  min-height: 150px;
}

.form-input {
  text-transform: capitalize;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: rgba(#b6bbc4, 0.7);
  border: none;
  font-family: inherit;
  color: #999;
  width: 100%;
  border-bottom: 3px solid transparent;
  display: block;
  transition: all 0.3s;
}

.form-input::-webkit-input-placeholder {
  color: rgba(12, 12, 12, 0.8);
}

.form-input:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(12, 12, 12, 0.1);
  border-bottom: 3px solid rgb(14, 201, 173);
}

.form-input:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form-label {
  display: block;
  font-size: 10px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
  text-transform: capitalize;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

/* Button Send */
.btn {
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #101720;
  font-weight: 900;
  font-size: 120%;
  border-radius: 50px;
  border: none;
  letter-spacing: 2px;
}

.btn:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 10px 20px rgba(#fff, 0.2); */
  cursor: pointer;
}

/* Footer */
.footer {
  font-weight: 100;
  font-size: 80%;
  opacity: 0.5;
}

.footer-icons {
  display: none;
}

.copyright {
  display: block;
  font-size: 100%;
  font-weight: 500;
  margin-top: 10px;
}

/* UTILITY CLASSES */
.secondary-header {
  display: none;
  text-transform: uppercase;
}

.text-highlight {
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
}

.text-highlight:hover {
  color: rgb(14, 201, 173);
  cursor: pointer;
}

.text-icon {
  transition: transform 0.3s ease-in-out;
}

.text-highlight:hover .text-icon {
  color: #fff;
  transform: translateX(100px);
}

.active {
  .links-text a {
    margin-left: 20px;
    font-weight: 700;
    color: #fff;
    scale: 1.2;
    transition: 0.3s;
  }
  .links {
    width: 60px;
    height: 0.8px;
    background-color: #fff;
    transition: 0.2s;
  }
}

/* MEDIA QUERY MANAGER */
@media (max-width: 600px) {
  .text-input {
    min-height: 150px;
  }
}

@media (max-width: 1080px) {
  .project-box {
    display: flex;
    flex-direction: column-reverse;
    opacity: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container-right {
    width: 100%;
  }

  .info {
    height: fit-content;
    padding: 0;
    width: 100vw;
    position: static;
    margin-bottom: 100px;
  }

  .info-statement {
    width: 100%;
    margin-bottom: 50px;
    padding-right: 5%;
  }

  .secondary-header {
    display: block;
  }

  nav {
    display: none;
  }

  body {
    padding: 10% 3%;
  }

  .form {
    padding: 3%;
  }

  footer {
    text-align: center;
  }

  .footer-icons {
    display: none;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .project-box {
    opacity: 1;
  }

  .tools {
    margin-bottom: 20px;
  }

  .footer-icons {
    display: block;
  }

  .info-links {
    width: 100%;
  }
}
